@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--page-top: 64px;
		--page-gutter: 24px;
		--header-height: 48px;
		--footer-height: 96px;

		--content-width: 40rem;
		--content-height: calc(
			100vh - (var(--page-top) * 2) - var(--footer-height)
		);

		--b-low-a: hsl(32deg 57% 95% / 0.8);
		--b-low: hsl(32deg 57% 95%);
		--b-med: hsl(32deg 57% 92%);
		--f-med: hsl(206deg 23% 31%);
		--f-high: hsl(206deg 23% 3%);
	}

	@media (min-width: 640px) {
		:root {
			--page-top: 192px;
			--page-gutter: 48px;
			--footer-height: 48px;
		}
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--b-low-a: hsl(333deg 5% 9% / 0.9);
			--b-low: hsl(333deg 5% 9%);
			--b-med: hsl(333deg 5% 14%);
			--f-med: hsl(60deg 5% 62%);
			--f-high: hsl(60deg 5% 94%);
		}
	}

	html {
		@apply scroll-smooth;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			@apply scroll-auto;
		}
	}

	body {
		@apply bg-b-low text-f-high antialiased;
	}

	[id] {
		@apply scroll-mt-header-height;
	}

	p {
		@apply leading-relaxed;
	}

	em {
		@apply font-serif;
	}

	strong {
		@apply font-semibold;
	}

	ul,
	ol {
		@apply space-y-1 leading-relaxed;
	}

	nav ul,
	nav ol {
		@apply space-y-0;
	}

	article > *,
	section > * {
		@apply mt-7;
	}

	article > h2,
	article > h3,
	article > h4,
	article > h5,
	article > h6,
	section > h2,
	section > h3,
	section > h4,
	section > h5,
	section > h6 {
		@apply mt-14;
	}
}

@layer components {
	article h1,
	.headline {
		@apply text-lg font-semibold tracking-tight;
	}

	article h2,
	.subheadline {
		@apply text-base font-semibold tracking-tight;
	}

	article a::before,
	article a::after,
	.link::before,
	.link::after {
		color: var(--f-med);
	}

	article a::before,
	.link::before {
		content: "{";
	}

	article a::after,
	.link::after {
		content: "}";
	}

	article a[target="_blank"]::before,
	.link[target="_blank"]::before {
		content: "[";
	}

	article a[target="_blank"]::after,
	.link[target="_blank"]::after {
		content: "]";
	}

	article a:hover,
	.link:hover {
		@apply underline decoration-f-med underline-offset-2;
	}

	article a:visited,
	.link:visited {
		@apply text-f-med;
	}
}
