@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--page-top: 64px;
		--page-gutter: 24px;
		--header-height: 48px;
		--footer-height: 96px;

		--content-width: 40rem;
		--content-height: calc(
			100vh - (var(--page-top) * 2) - var(--footer-height)
		);

		@media (min-width: 640px) {
			--page-top: 192px;
			--page-gutter: 48px;
			--footer-height: 48px;
		}

		--b-low-a: hsl(32deg 57% 95% / 0.8);
		--b-low: hsl(32deg 57% 95%);
		--b-med: hsl(32deg 57% 92%);
		--f-med: hsl(206deg 23% 31%);
		--f-high: hsl(206deg 23% 3%);

		@media (prefers-color-scheme: dark) {
			--b-low-a: hsl(333deg 5% 9% / 0.9);
			--b-low: hsl(333deg 5% 9%);
			--b-med: hsl(333deg 5% 14%);
			--f-med: hsl(60deg 5% 62%);
			--f-high: hsl(60deg 5% 94%);
		}
	}

	html {
		@apply scroll-smooth;

		@media (prefers-reduced-motion: reduce) {
			@apply scroll-auto;
		}
	}

	body {
		@apply bg-b-low text-f-high antialiased;
	}

	[id] {
		@apply scroll-mt-header-height;
	}

	p {
		@apply leading-relaxed;
	}

	em {
		@apply font-serif;
	}

	strong {
		@apply font-semibold;
	}

	ul,
	ol {
		@apply leading-relaxed;
	}

	.content {
		& > *,
		article > * {
			@apply mt-7;
		}

		ul,
		ol {
			@apply space-y-1;
		}

		& h1 {
			@apply text-lg font-semibold tracking-tight sm:text-xl;
		}

		& h2 {
			@apply text-base font-semibold tracking-tight sm:text-lg;
		}

		& h3 {
			@apply font-serif text-base font-medium italic;
		}

		& h2,
		& h3,
		& h4,
		& h5 {
			@apply mt-14;
		}

		& a::before,
		& a::after {
			color: var(--f-med);
		}

		& a::before {
			content: "{";
		}

		& a::after {
			content: "}";
		}

		& a[target="_blank"]::before {
			content: "[";
		}

		& a[target="_blank"]::after {
			content: "]";
		}

		& a:hover {
			@apply underline decoration-f-med underline-offset-2;
		}

		& a:visited {
			@apply text-f-med;
		}

		& table thead > tr > th {
			@apply h-8 bg-b-med text-left text-sm font-semibold text-f-high;
		}
		& table tbody > tr {
			@apply h-10 text-md;
		}
		& table td,
		& table th {
			@apply border border-f-med px-3;
		}

		& blockquote {
			@apply border-l-2 border-f-med pl-3 text-f-med;
		}

		& figure > figcaption {
			@apply mt-3.5 text-xs;
		}
	}

	article {
		& h1 {
			@apply text-lg font-semibold tracking-tight;
		}

		& ul {
			@apply list-disc pl-[18px];
		}

		& ol {
			@apply list-decimal pl-[18px];
		}
	}
}
